html {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    background-color:rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(8, 8, 24);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#navitems {
    display: flex;
    align-items: center;
    gap: 12px;
}

div#logodiv {
    border-radius: 5px;
    background-image: linear-gradient(to right, crimson, red);
}

div#logodiv > p {
    text-align: center;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 8px 8px;
}

div#navitem {
    border-radius: 5px;
    background-color: white;
    min-width: 82px;
    padding: 8px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

div#navitem > p {
    color: black;
    font-size: 20px;
    width: 100%;
    margin: 0;
    font-weight: bold;
}

#searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h2#searchhead {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p[id^="suggestionname"] {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

p[id^="suggestiondexnumber"] {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

div[id^="divsuggestion"] {
    display: flex;
    align-items: center;
    text-align: end;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid white;
}

div#suggestions {
    display: flex;
    flex-direction: column;
    width: 20%
}

img[id^="suggestionimage"] {
    max-width: 75px;
    max-height: 75px;
}